:root {
    --white: #EEE;
    --black: #374151;
    --blacker: #1F2937;
    --blackest: #111827;
    --pink: #EC4899;
    --purple: #8B5CF6;
    --gray: #6B7280
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--gray);
    background-color: var(--black);
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
    ;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--blacker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--white);
    font-size: 1.25rem;
}

#new-task-input::placeholder {
    color: var(--gray);
}

#new-task-date {
    flex: 1 1 0%;
    background-color: var(--blacker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--white);
    font-size: 1.25rem;
}

#new-task-date::placeholder {
    color: var(--gray);
}

#new-task-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.9;
}

#new-task-submit:active {
    opacity: 0.4;
}

#new-task-date-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-date-submit:hover {
    opacity: 0.9;
}

#new-task-date-submit:active {
    opacity: 0.4;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--blackest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}


.task .content {
    flex: 1 1 0%;
}

.task .content .text {
    color: var(--white);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.task .content .text:not(:read-only) {
    color: var(--pink);
}

.task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.9;
}

.task .actions button:active {
    opacity: 0.4;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: rgb(211, 29, 29);
}

#tasks .date {
    display: flex;
    justify-content: space-between;
    background-color: var(--blackest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}


.date .content {
    flex: 1 1 0%;
}

.date .content .text {
    color: var(--white);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.date .content .text:not(:read-only) {
    color: var(--pink);
}

.date .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.date .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.date .actions button:hover {
    opacity: 0.9;
}

.date .actions button:active {
    opacity: 0.4;
}

.date .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.date .actions .delete {
    color: rgb(211, 29, 29);
}