:root {
    --white: #EEE;
	--black: #374151;
	--blacker: #1F2937;
	--blackest: #111827;
	--pink: #EC4899;
	--purple: #8B5CF6;
    --gray: #6B7280
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: var(--gray);
	background-color: var(--black);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}